*{
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  .btn-outline-success{
    --bs-btn-color: white !important;
    --bs-btn-hover-bg:  #063d54 !important;
    --bs-btn-border-color: #fff !important;

  }
  
  .nav-1 {
      background-color: #06B0C1;
  }
  
  .nav-ul li  a {
      color: white;
  }
  
  .second-nav-bar {
      display: flex;
      flex-direction: row;
  }
  
  .second-nav-bar ul li {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #204E63;
      font-size: 16px;
  
  }
  
  .second-nav-bar ul li a {
      color: #204E63;
  }
  
  .second-nav-icon {
      height: 20px;
      width: 20px;
  }
  
  .second-nav-main-icon {
      height: 60px;
      width: 60px;
  
  }
  
  /* .slider-img {
      width: 100vw;
      height: 25vw;
  } */

  
.countenir{
    width: 100%;
    margin: 0px auto;
   
}

/* css for doc and hospital page */

.w-100{
    height: 450px;
    margin-bottom: 30px;
}

.doc_cards{
    display: flex;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #06b0c1 !important;
  border-color: #06b0c1 !important;
}

.btn-primary:hover {
    background-color: #063d54 !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
  }
 .card{
    --bs-border-radius: 1rem !important;
    height: 600px !important;
    margin-bottom: 30px !important;
    box-shadow: 2px 0px 10px #06b0c1 !important;
    color: #063d54 !important;
 }
 .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .card-img-top{
    height: 40% !important;

 }

  .justify-content-lg-between {
    justify-content: space-between!important;
    margin-top: 30px;
}

.text-center{
    margin-top: 20px !important;
}

footer section .footer-social-media-right a {
    text-decoration: none;
}