.countenr{
    display: flex;
    justify-content: space-around;
   
}
.img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    
}

.book_now{
    width: 80%;
    height: 50px;
    font-size: 2rem; 
    background-color:#49add6;
    border-color: #fff;
    border-style: solid; 
    margin-left: 10%;
    margin-bottom: 3px;
    color: #fff;
    
}

.form{
    background-color:#49add6;
    width: 25%;
    padding-left: 10px;
    color: #fff;
}

p {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
   }

   h1 {
    font-size: 2rem; 
    font-family: 'Roboto', sans-serif;
   }
.h2{
    font-size: 1.5rem;
}

.find_doc_pic{
    width: 100%;
    height: 50%;
}

.img2{
    width: 200px;
    height: 200px;
}
/* this css for hospital page */

*{
    font-family: 'Open Sans', sans-serif;
  }
  
  
  .nav-1 {
      background-color: #06B0C1;
  }
  
  .nav-ul li  a {
      color: white;
  }
  
  .second-nav-bar {
      display: flex;
      flex-direction: row;
  }
  
  .second-nav-bar ul li {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #204E63;
      font-size: 16px;
  
  }
  
  .second-nav-bar ul li a {
      color: #204E63;
  }
  
  .second-nav-icon {
      height: 20px;
      width: 20px;
  }
  
  .second-nav-main-icon {
      height: 60px;
      width: 60px;
  
  }
  
  .slider-img {
      width: 100vw;
      height: 25vw;
  }

  .imag-hospital{
    width: 100%;
    height: 550px;
    margin-bottom: 30px;
  }
  
.countenir{
    width: 100%;
    margin: 0px auto;
   
}
/* css for doc page */

.w-100{
    height: 800px;
    margin-bottom: 30px;
}

.doc_cards{
    display: flex;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: red;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

