
/* this css for hospital page */

*{
    font-family: 'Open Sans', sans-serif;
  }
  
  .btn-outline-success{
    --bs-btn-color: white !important;
    --bs-btn-hover-bg:  black !important;
    --bs-btn-border-color: #fff !important;

  }
  
  .nav-1 {
      background-color: #06B0C1;
  }
  
  .nav-ul li  a {
      color: white;
  }
  
  .second-nav-bar {
      display: flex;
      flex-direction: row;
  }
  
  .second-nav-bar ul li {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #204E63;
      font-size: 16px;
  
  }
  
  .second-nav-bar ul li a {
      color: #204E63;
  }
  
  .second-nav-icon {
      height: 20px;
      width: 20px;
  }
  
  .second-nav-main-icon {
      height: 60px;
      width: 60px;
  
  }
  
  .slider-img {
      width: 100vw;
      height: 25vw;
  }

  
.countenir{
    width: 100%;
    margin: 0px auto;
   
}

/* css for doc page */

.w-100{
    height: 800px;
    margin-bottom: 30px;
}

.doc_cards{
    display: flex;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #06b0c1 !important;
  border-color: #06b0c1 !important;
}

.btn-primary:hover {
    background-color: black !important;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
  }
 .card{
    --bs-border-radius: 5.375rem !important;
 }