* {
    font-family: 'Lato', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.second-nav-bar .platform-icon .second-nav-main-icon {
    height: 60px;
    width: 60px;

}

.second-nav-bar  h1 {
    color: #053D54;
    display: flex;
    margin:0 auto;
}

.content-conatiner {
    backdrop-filter: blur(15px);
    background: rgba(255, 255,255,0.2);
}

body {
    background-color: #f8f9fa;
}

.confirmation-container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #06B0C1;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #495057;
}

.thank-you {
    font-size: 18px;
    font-weight: bold;
    color: #06B0C1
}

.signature {
    font-style: italic;
    margin-top: 20px;
    color: #06B0C1;
}

.we-care {
  color: #06B0C1;
}

.list-group {
  margin-bottom: 20px;
}

.btn{
  background-color: #06B0C1;
  border-color: #06B0C1;
}
.btn:hover {
  background-color: #013438a8;
  border-color: #013438a8;
}