<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}	
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>

    <!-- <img src="static\img\pexels-gustavo-fring-4173248.jpg" class="find_doc_pic">  -->

    <div class="countenr">
    <form action="" class="form">
        <img src="static\img\smiling-doctor-with-strethoscope-isolated-grey.jpg" class="img">
        <h1>Dr.Ahmad Hasn</h1>
        <p>Associate Clinical Director & Head Department of Orthopaedics and Joint Replacement <br>
            <h2>Speciality</h2>
            Orthopaedics
            <h2>Qualification</h2>
            MBBS, DNB (Orthopedics), MNAMS, FIMSA, Fellow in Complex Primary & Revision Total Knee Arthroplasty (Switzerland)<br>
            <h2>Hospital</h2>
            CARE Hospitals, Nampally, Hyderabad
        </p>
        <input type="submit" name="Book Now" value="Book Now" class=" book_now">
    </form>

    <form action="" class="form">
        <img src="static\img\portrait-attractive-male-doctor_329181-622.jpg" class="img">
        <h1>Dr.Ahmad Hasn</h1>
        <p>Associate Clinical Director & Head Department of Orthopaedics and Joint Replacement <br>
            <h2>Speciality</h2>
            Orthopaedics
            <h2>Qualification</h2>
            MBBS, DNB (Orthopedics), MNAMS, FIMSA, Fellow in Complex Primary & Revision Total Knee Arthroplasty (Switzerland)
            <h2>Hospital</h2>
            CARE Hospitals, Nampally, Hyderabad
        </p>
        <input type="submit" name="Book Now" value="Book Now" class=" book_now">
    </form>

    <form action="" class="form">
        <img src="static\img\young-beautiful-successful-female-doctor-with-stethoscope-portrait_186202-1506.jpg" class="img">
        <h1>Dr.Ahmad Hasn</h1>
        <p>Associate Clinical Director & Head Department of Orthopaedics and Joint Replacement 
            <h2>Speciality</h2>
            Orthopaedics
            <h2>Qualification</h2>
            MBBS, DNB (Orthopedics), MNAMS, FIMSA, Fellow in Complex Primary & Revision Total Knee Arthroplasty (Switzerland)<br>
            <h2>Hospital</h2>
            CARE Hospitals, Nampally, Hyderabad
        </p>
        <input type="submit" name="Book Now" value="Book Now" class=" book_now">
    </form>
</div>
    <!-- <img src="{% static 'img/image.jpg' %}" /> -->
</body>
</html>