<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/hospital.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6p5llPbS+rtJOf+83OUGpTIbrIuG4Ffe" crossorigin="anonymous">
  </head>
  <body>

   <div class="countenir">

    <nav class="navbar navbar-expand-lg nav-1">
      <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-4 mb-lg-0 nav-ul">
                  <li class="nav-item d-flex">
                      <a class="nav-link" href="/feedback">Feedback</a>
                  </li>
                  <li class="nav-item d-flex">
                      <a class="nav-link" href="#about-us">About Us</a>
                  </li>
                  <li class="nav-item d-flex">
                      <a class="nav-link" href="#contact-us">Contact Us</a>
                  </li>
                  <li class="nav-item flm-li flm-li-call">
                    <a class="nav-link flm-a" href="tel:+91-40 6165 6565">
                        <span>
                            <img id="initiateCallIcon" src="https://www.carehospitals.com/assets/images/main/ch-phoneicon.svg" alt="phone icon" height="16" width="16">
                        </span>
                        <span id="initiateCallIcon">+972-599 616 656</span>
                    </a>
                </li>                
              </ul>
              <form class="d-flex">
                  <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
          </div>
      </div>
  </nav>
  
  <nav class="second-nav-bar navbar navbar-expand-lg sticky-top">
      <div class="container-fluid">
          <a class="platform-icon" style="text-decoration: none; color:#315B6F;" href="/">
              <span class="logo-text">We</span>
              <img  class="second-nav-main-icon" src="{% static '/images/second-nav-icons/WecareLogo.png' %}" alt="" style="margin: 0px; padding: 0px;">
              <span class="logo-text">Care</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
              <ul class="navbar-nav justify-space-between">
                  <li class="nav-item d-flex">
                    <span class="icon feature_box_col_two"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
                      <a class="nav-link" aria-current="page" href="/hospitals">Hospitals</a>
                  </li>
                  <li class="nav-item d-flex">
                    <span class="icon feature_box_col_four"><i class="fa fa-user-md" aria-hidden="true"></i></span>
                      <a class="nav-link" href="/doctors">Doctors</a>
                  </li>
                  <li class="nav-item d-flex">
                      <span class="icon feature_box_col_three"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
                      <a class="nav-link" href="/specialities">Specialities</a>
                  </li>
                  <li class="nav-item d-flex">
                      <span class="icon feature_box_col_one"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                      <a class="nav-link" href="/bookanappointment">Book an Appointment</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

       <!-- slaider -->

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <picture>
            <source media="(max-width: 800px)" srcset="static\img\1.jpg" />
            <source media="(min-width: 500px)" srcset="static\img\1.jpg" /> 
            <img src="static\img\1.jpg" style="width: 100%; height: 35vw;"/>
        </picture>
        
        </div>

        <div class="carousel-item">
          <picture>
            <source media="(max-width: 800px)" srcset="static\img\alnajah.jpg" />
            <source media="(min-width: 500px)" srcset="static\img\alnajah.jpg" /> 
            <img src="static\img\alnajah.jpg" style="width: 100%; height: 35vw;"/>
        </picture>
        </div> 

        <div class="carousel-item">
          <picture>
            <source media="(max-width: 800px)" srcset="static\img\neonatal-room-new-born.png" />
            <source media="(min-width: 500px)" srcset="static\img\neonatal-room-new-born.png" /> 
            <img src="static\img\neonatal-room-new-born.png" style="width: 100%; height: 35vw;"/>
        </picture>
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 

         <!-- cards -->
         <div class="container text-center">
            <div class="row">
            <!-- {%for hosptials in all_hosptials%} -->
              <div class="col-md-4">
                <div class="card">
                    <img src="static\img\440421306917582785344.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Arab Evangelical Hospital</h3>
                      <p class="card-text">The hospital includes several departments: 
                        emergency, obstetrics and gynecology, children, men, 
                        intensive care, operations, internal medicine, cardiology, 
                        orthopedics, endocrinology, neurology, laboratory, radiology, and pharmacy.</p>
                      <a href="/bookanappointment" class="btn btn-primary">Book Now</a>
                    </div>
                  </div>
              </div>
            <!-- {%endfor%} -->
              <!-- <div class="col-md-4">
                <div class="card">
                    <img src="static\img\hospital.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Rafidia Governmental Surgical Hospital</h3>
                      <p class="card-text">The hospital includes several departments:
                         emergency, operations, general surgery, specialized surgeries in orthopedics, 
                         nerves, children, blood vessels, plastic surgery,
                          jaw, and eyes, and also departments, intensive care, 
                          gynecology and obstetrics, nursery, day care, burns, 
                          and radiology including It includes computed tomography,
                           bleeding, outpatient clinics, central laboratories,
                            blood bank, sterilization, physical therapy, and pharmacy.</p>
                      <a href="/bookanappointment" class="btn btn-primary">Book Now</a>
                    </div>
                  </div>
              </div>

              <div class="col-md-4">
                <div class="card">
                    <img src="static\img\download.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">Istishari Arab Hospital</h3>
                      <p class="card-text">The hospital includes several departments, namely: 
                        Department of General Surgery, Department of Endoscopic Surgery, 
                        Emergency Department, Department of Oral and Maxillofacial Surgery, 
                        Department of Molecular Genetics Laboratory, Department of Ear, 
                        Nose and Throat, Department of Head and Neck Surgery, Department of Neurosurgery,
                         Department of Bone and Joints, Department of Anesthesia.</p>
                      <a href="/bookanappointment" class="btn btn-primary">Book Now</a>
                    </div>
                  </div>
              </div> -->

            </div>
           </div>

           <footer class="text-center text-lg-start bg-body-tertiary text-muted">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <!-- Left -->
                <div class="footer-social-media-left me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->
        
                <!-- Right -->
                <div class="footer-social-media-right">
                    <a href="#" class="me-4 text-reset social-media-icon">
                        <i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="me-4 text-reset social-media-icon">
                        <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="me-4 text-reset social-media-icon">
                        <i class="fa fa-fw fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="me-4 text-reset social-media-icon">
                        <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
        
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto mb-3" id="about-us">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-3">
                                About Us
                            </h6>
                            <p>
                              Welcome to WeCare – where health meets compassion. Our mission is to redefine healthcare with comprehensive services that enhance well-being. Committed to excellence, we prioritize integrity, empathy, and innovation in delivering top-tier medical care to individuals and communities.
                            </p>
                        </div>
                        <!-- Grid column -->
        
                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto mb-3">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-3">
                                Our Services
                            </h6>
                            <p>
                                <a href="/bookanappointment" class="text-reset">Book An Appointment</a>
                            </p>
                            <p>
                                <a href="#" class="text-reset">Explore Hospitals</a>
                            </p>
                            <p>
                                <a href="#" class="text-reset">Explore Specialities</a>
                            </p>
                            <p>
                              <a href="#" class="text-reset">Find A Doctor</a>
                          </p>
                        </div>
                        <!-- Grid column -->
        
                        <!-- Grid column -->
                        <div class="col-md-3 mx-auto mb-3" id="contact-us">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-3">
                                Contact Us
                            </h6>
                            <p><i class="fa fa-fw fa-location-arrow" aria-hidden="true"></i> Ramllah, P606, Palestine</p>
                            <p>
                              <i class="fa fa-fw fa-at" aria-hidden="true"></i>
                                wecare@mail.com
                            </p>
                            <p><i class="fa fa-fw fa-phone" aria-hidden="true"></i> + 02 234 5679</p>
                            <p><i class="fa fa-fw fa-phone" aria-hidden="true"></i> + 972-599 616 656</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
        
            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2023 Copyright:
                <a class="text-reset fw-bold" href="https://mdbootstrap.com/">WeCare.com</a>
            </div>
            <!-- Copyright -->
        </footer>

           
          </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>


  </body>
</html>