<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/loginPage" method="post">
        {% csrf_token %}
        <button>login</button>
    </form>
    <form action="/register/page" method="post">
        {% csrf_token %}
        <button>Register</button>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        logout
    </form>
</body>
</html>